

tr:nth-child(even) {background: #CCC; padding: 5px;} ;
tr:nth-child(odd) {background: #FFF; padding: 5px;}
th{ padding: 5px;}

.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
table{
margin: 40px;
padding: 7px;
}


